
/* 
    Created on : Oct 09, 2018, 1:52:57 PM
    Authors    : David, Libby, Dan
*/

/* Dan - Edited the body and header so that the webpages now display over the 
    entire screen*/

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    background:  #f9f9f9;
    
    
}

#main { background: #eee }


#header {
    height: 80px;
    background: white;
    width: 100%;
    
}

#footer {
    border:solid;
    text-align: center;
    margin-top: 2px;
    padding-top: 10px;
    height: 70px;
    clear: left;
    background: #072763;
    color:white;
    
}

#indexLeftColumn {
    height: 500px;
    width: 350px;
    float: left;
    background: #ccc;
}

.linkBox {
    height: 70px;
    width: 300px;
    margin: 25px 25px 0px;
    float: inherit;
    background: #eee;
}

.linkLabelText {
    line-height: 150%;
    font-size: x-large;
}

#indexRightColumn {
    height: 500px;
    width: 500px;
    float: left;
    background: #eee;
}

#titleText {
    text-align: center;
    margin: 20px 0 0 70px;
    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    color: #333;
}
#box{
    border-style: solid;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 0em;
    margin-right: 0em;
}
#center{
    text-align: center;
    alignment-adjust: central;
    
}
#navigation {
	background-color:#072763;
	margin-top:0px;
        margin-bottom:0px;
	width: 100%;
	height: 90%;
	padding-top:2;
}

#nav {
	clear: both;
	height: 40px;
	width: 100%;
	margin:0 auto;
}

#nav ul{
	list-style-type: none;
	margin: 0 auto;
        padding: 0;
        display: inline-block;
	
}
#nav ul li{ 
        
        list-style:none;
   	width:120px;
	text-align: center;
	position:center;
	float:left;
	margin-right: 2px;
        margin-top: 2px;
	z-index: 500;
}
#nav ul li a {
	color:white;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	height: 30px;
	font-family:Arial, Helvetica, sans-serif;

	text-decoration: none;
	display:block;
	width:120px;
	height:100%;
	line-height:30px;
	border:0px solid #FFF;
	border-radius: 1px;
	
}

#nav li a:hover {
  
  cursor: pointer;
  text-decoration: none;
  background-color: #446299;
  
}

#user{
    height:100%;
    width:100%;
    margin-left: 20px;
    font-size: 12px;
    alignment-adjust: left;
    font-weight: normal;
    text-transform: none;
    color: red;
    padding-top: 30px;
    
}

#fedlib {
	margin-top:0px;
	margin-left:-6px;
	float:left;
	padding-bottom:6px;
	padding-left: 6px;
}
#fedlib a{
	cursor: inherit;
	margin-left:0px;
}
#feduni {
	margin-top:0px;
	margin-left:0px;
	float:left;
	padding-bottom:0;
	padding-left: 10px;
}
#line{
        margin-top:-4px;
	
	float:left;
	padding-bottom:0;
	padding-left: 0px;
}
#times{
    margin-top: 50px;
    background: whitesmoke;
}

.tab{

    color:white;
    padding-top:7px;
    padding-right:14px;
    padding-bottom:7px;
    padding-left:14px;
    transition-duration:0.3s;
    transition-timing-function:ease;
    transition-delay:0s;
    transition-property:opacity;
    display:inline-block;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    margin-right:10px;
    background-color: #446299;
    text-decoration: none;
}
.tab.tab-active{
    background-color: #b3c8ef;
    color:#072763;
}
.tab:hover{
    background-color: #86a3d8;
}
.tab-content{
    padding-top:6px;
    padding-right:10px;
    padding-bottom:6px;
    padding-left:10px;
    min-height:100px;
    animation-duration:1s;
    animation-timing-function:ease;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode:none;
    animation-play-state:running;
    animation-name:fadeEffect;
    padding:6px 10px 6px 10px;
}
.tab-container{
    text-align:center;
    align-self:flex-start;
    float:none;
    color:blue;
}
.goButton{
    border:none;
    padding: 3px 10px 3px 10px ;
    border-radius: 5px;
    background-color: #86a3d8;
}

.goButton:hover{
    background-color: #b3c8ef;
}

/*table {
    border-collapse: collapse;
    align-content: center;
    alignment-adjust: middle;
}*/

th, td {
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

/*#info{
    text-align: center;
    align-content: center;
}

/*#tbody{
    align-content: center;
}*/

/* Dan - Commented out CSS from layout experimentation*/