<%-- any content can be specified here e.g.: --%>
<%@page import="entity.Usertable"%>
<%@ page pageEncoding="UTF-8" %>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/webLibrary.css">
        <title>Library</title>
    </head>
    <header>
        <% Usertable user; %>
        <div id="header">
            <div id="fedlib">
		<a href="#"><img src="${pageContext.request.contextPath}/images/logo.jpg" width="93" height="70"  /></a>
	  </div>
            
            <div id="feduni">
		<a href="#"><img src="${pageContext.request.contextPath}/images/feduni-logo.gif" width="356" height="70"  /></a>
	    </div>
            
            <!--text id="titleText">FED UNI LIBRARY</text-->
        </div>

        
        <div id="navigation">
	 <div id="nav" >
		<ul >
			<li><a href="index.jsp"><span>Home</span></a></li>
                        <li><a href="items.jsp"><span>Items</span></a></li>
                        <li><a href="search.jsp"><span>Search</span></a></li>
			
                        
                        <% if(request.getSession().getAttribute("user") == null){ %>
                        <li><a href="registerAccount.jsp"><span>Register</span></a></li>
                        <li><a href="login.jsp"><span>Login</span></a></li>    
                            
                            <% }
                        else {
                            %>
                            <li><a href="accountPage.jsp"><span>Profile</span></a></li>
                            <% 
                            user = (Usertable) request.getSession().getAttribute("user");
                        if(user.isAdmin()){ %>
                            <li><a href="addItem.jsp"><span>Add Item</span></a></li>
                            
                            <% }
                        %>
                            <li><a href='logoff.jsp'><span>Logoff</span></a></li>
                            <%
                        }
                        %>
     
                        
		</ul>
	 </div>
	</div>
    </header>
    
    
</html>
        
        
        
